/* body {
  background-color: rgb(19, 19, 19);
        background-color: #323133;
        background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64'
        xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8
        8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636
        32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582
        8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414
        40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95
        1.414-1.414L9.414 40z' fill='%239156f0' fill-opacity='0.09' fill-rule='evenodd'/%3E%3C/svg%3E");
} */

body{
  background:#fff;
}

header{
  display:flex;
  width:100%;
  padding:1em 0;
}

.toggle-bar{
  margin:0 20px 0 auto;
  display:inline-block;
  width:70px;
  height:35px;
  background:#d6e0f0;
  border-radius:50px;
  position:relative;
}

input{
  display:none;
}

.toggle-container{
  position:absolute;
  top:-2.5px;
  left:0;
  width:40px;
  height:40px;
  border-radius:50px;
  background:#f4f6ff;
  transition:transform 0.35s;
}

input:checked ~ .toggle-container{
  /* background:#123456; */
  transform:translateX(32px);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container img {
  height: 300px;
}

.container p {
  color: aliceblue;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.hero {
  display: flex;
  padding: 2em;
  align-items: center;
}

.hero_content {
  color: #1d1c1c;
  text-align: left;
  margin-left: 6rem;

  max-width: 33rem;
}

.hero_content > h2 {
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
}

.hero_content > p {
  color: rgb(90, 90, 90);
  font-size: 1.5em;
  word-spacing: 0.3em;
  line-height: 1.4;
  font-weight: 500;
}

.CTA {
  background-color: #f94626;
  padding: 1em;
  color: white;
  border-radius: 4px;
  word-spacing: 0.2rem;
  outline: none;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  transition: all 200ms ease-in-out;
}

.CTA:hover {
  background-color: white;
  color: #f94626;
  border-radius: 10px;
  border: #f94626 solid 2px;
}

@media only screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 2rem;
    overflow-x: hidden;
  }

  .hero_content {
    padding: 5px;
    max-width: 25rem;
    margin-left: 0;
  }

  .hero_content > h2 {
    font-weight: 700;
    font-size: 2.2rem;
    text-transform: uppercase;
  }

  .hero_content > p {
    color: rgb(90, 90, 90);
    font-size: 1.1em;
    line-height: 1.3;
    font-weight: 500;
  }

  .hero_image {
    height: 300px;
    object-fit: contain;
    width: 330px;
  }
}
