/* Footer */

.footer {
  width: 100%;
  position: relative;
  height: auto;
}

.contain {
  display: flex;
  justify-content: center;
}

.footer .col {
  width: 250px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}

.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 26px;
  font-weight: 700;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: #fff;
  letter-spacing: 0.250em;
}

.footer .col p {
  color: #fff;
  font-size: 16px;
  font-family: inherit;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  text-decoration: none;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}

.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  line-height: 30px;
}

.footer .col ul li a {
  color: #fff;
  font-size: 16px;
  font-family: inherit;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  text-decoration: none;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}

.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.social ul li a i {
  font-size: 30px;
  letter-spacing: 25px;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}

.clearfix {
  clear: both;
}

.copyright {
  text-align: center;
  color: #fff;
}

@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}

@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}