body {
  background-color: #fff;
}

body.dark-theme {
  background-color: #343a40;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  background-color: var(--mainBackground);
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-height: 50vh;
}

.intro header {
  max-width: 100vw;
  min-height: 50vh;
}

.intro h2 {
  font-size: 72px;
  margin: 32px 0;
  font-weight: 700;
  font-size: var(--xlHeading);
  text-transform: uppercase;
  line-height: 1.1;
  color: var(--heading);
}

.intro p {
  color: var(--text, #757575);
  font-size: var(--xlText);
  word-spacing: 0.2em;
  line-height: 1.3;
  font-weight: 400;
}

.intro-image {
  width: 95%;
}

.intro-btn {
  margin: 15px 0;
  display: inline-block;
  background-color: #fe6655;
  color: white;
  padding: 16px;
  border-radius: 12px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}

.intro-btn:hover {
  transform: scale(1.2);
}

#intro-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: var(--xlHeading);
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 1.5rem;
  color: var(--heading);
  /* letter-spacing: 0.2rem; */
  text-align: left;
}

#intro-section {
  color: var(--text, #757575);
  font-size: var(--xlText);
  word-spacing: 0.2em;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: left;
}

#sub-footer p {
  font-size: 1rem;
}

/* Styles for tablet and bigger screen */
@media only screen and (min-width: 768px) {
  about {
    min-height: 100vh;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .intro {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .intro header {
    max-width: 40vw;
  }

  .intro-image {
    margin-left: 16px;
  }
}
