.heading {
  text-align: center;
  padding: 2rem;
}

.blog-container, .newsletter-container {
  width: 95%;
  max-width: 1200px;
  margin: auto;
}

body {
  font-family: 'Roboto';
}

.main {
  margin: 2em 0;
  background-color: var(--mainBackground);
  margin: 0 !important;
}

.newsletter {
  margin-top: var(--mdMargin);
  padding-bottom: var(--lgPadding);
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
}

.newsletter h2 {
  font-size: var(--smHeading);
  text-align: center;
}

.newsletter__signup {
  margin-top: var(--mdPadding);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.newsletter__signup input {
  width: 70%;
  border-radius: 0.5em;
}

.newsletter__signup button {

  width: 50%;

  padding: var(--btnPadding);
    background:#fe6655;
  border-radius: 0.5em;
  margin-top: var(--mdMargin);
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



.blog {
  padding-top: var(--lgPadding);
}

.blog__pictures {
  color: #fff;
  margin-bottom: 4em;
}

.blog__picture {
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.609);
  height: 250px;
  border-radius: 0.5em;
  background-size: cover;
}

.blog__picture--content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
  text-align: center;
  padding: 0 40px 0;
}

.blog__picture--content h3 {
  margin-top: 1rem;
  font-size: clamp(1em, calc(3vmin + 1px), 3em);
  color: #fff;
}

.blog__picture--content p {
  text-transform: uppercase;
}

.blog__picture + .blog__picture {
  margin-top: 1.2em;
}

.blog__post + .blog__post {
  margin-top: 2em;
}

.blog__post--image {
  width: 100%;
  height: 200px;
  background: rgba(0, 0, 0, 0.383);
  border-radius: 0.5em;
}

.blog__post--content {
  /* align-self: center; */
  margin: 1em 0;
}

.blog__post--content h4 {
  margin-bottom: 0.5em;
}

.blog__post--content p {
  /* font-size: 1.2rem; */
  max-width: 620px;
}

.blog__post--content a {
  color: var(--text);
  font-weight: 700;
}

.loadmore {
  display: block;
  background: var(--red);
  border: 2px solid var(--red);
  padding: 0.7em 1.4em;
  border-radius: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 3em auto 0;
  color: white;
}

.loadmore:hover {
  display: block;
  background: var(--white);
  border: 2px solid var(--red);
  padding: 0.7em 1.4em;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 3em auto 0;
  color: red;
}

/* DARK MODE
[data-theme='dark'] .container {
  background: #343a40;
} */

@media (min-width: 768px) {
  .newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .newsletter__signup {
    display: flex;
    margin-top: 0;
  }

  .newsletter__signup input {
    width: 100%;
  }

  .newsletter__signup button {
    margin-top: 0;
    margin-left: var(--xlMargin);
  }

  .blog__pictures {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-areas:
      'post1 post1 post2'
      'post1 post1 post3';
    grid-gap: 20px;
  }

  .blog__picture + .blog__picture {
    margin-top: 0;
  }

  .post1 {
    grid-area: post1;
    height: auto;
    background-image: url('../images/blog/nature.jpg');
  }
  .post2 {
    grid-area: post2;
    background-image: url('../images/blog/people.jpg');
  }
  .post3 {
    grid-area: post3;
    background-image: url('../images/blog/dev.jpg');
  }
  .post4 {
    background-image: url('../images/blog/meadow.jpg');
  }
  .post5 {
    background-image: url('../images/blog/code.jpg');
  }

  .overlay {
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    border-radius: 0.5em;

  }

  .blog__post {
    display: flex;
  }

  .blog__post--image {
    margin-right: 30px;
    max-width: 300px;
  }
}
