@import 'blog_nav.css';
@import 'blog_footer.css';

.heading {
  text-align: center;
  padding: 2rem;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  background-color: #fffaf0;
  color: #222;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.05em;
  margin: 0.2em 0;
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2.4em;
}

h4 {
  font-size: 1.9em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.2em;
}

p {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 1em;
  margin: 1em 0 0;
}

p + p {
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
  color: #86a578;
}

a:visited {
  color: #d4e4f7;
}

a:hover {
  color: #236ab9;
}

strong {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
}

em {
  font-family: 'Montserrat', sans-serif;
  font-style: 500i;
  letter-spacing: 0.05em;
}

u {
  text-decoration: underline;
  font-weight: 500;
  letter-spacing: 0.05em;
}

figcaption {
  font-style: italic;
  font-size: 0.8em;
  text-align: right;
}

q {
  font-family: 'Montserrat', sans-serif;
  font-style: 500i;
  letter-spacing: 0.05em;
}

blockquote {
  font-style: italic;
  line-height: 2;
  letter-spacing: 0.05em;
  padding: 10px 30px;
}

blockquote:first-letter {
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

/* Buttons */
.btn {
  width: 150px;
  padding: 10px 0;
  font-family: 'Playfair Display', serif;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin: 15px 0;
  cursor: pointer;
  display: inline-block;
}

.btn-primary {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #000;
  transform: scale(0.9);
}

.btn-primary:active {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #000;
  transform: scale(0.9);
}

.btn-secondary {
  background-color: #340926;
  border: 2px solid #340926;
  color: #fffaf0;
  transition: all 0.3s;
}

.btn-secondary:hover {
  background-color: transparent;
  border: 2px solid #340926;
  color: #340926;
  transform: scale(0.9);
}

.btn-secondary:active {
  background-color: transparent;
  border: 2px solid #340926;
  color: #340926;
  transform: scale(0.9);
}
.blog__pictures {
  color: #fff;
  margin-bottom: 4em;
}

.blog__picture {
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.609);
  height: 250px;
  border-radius: 0.5em;
}

.blog__picture--content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
  text-align: center;
  padding: 0 40px 0;
}

.blog__picture--content h3 {
  margin-top: 1rem;
  font-size: clamp(1em, calc(3vmin + 1px), 3em);
}

.blog__picture--content p {
  text-transform: uppercase;
}

.blog__picture + .blog__picture {
  margin-top: 1.2em;
}

.blog__post + .blog__post {
  margin-top: 2em;
}

.blog__post--image {
  width: 100%;
  height: 200px;
  background: rgba(0, 0, 0, 0.383);
  border-radius: 0.5em;
}

.blog__post--content {
  /* align-self: center; */
  margin: 1em 0;
}

.blog__post--content h4 {
  margin-bottom: 0.5em;
}

.blog__post--content p {
  /* font-size: 1.2rem; */
  max-width: 620px;
}

.blog__post--content a {
  color: var(--text);
  font-weight: 700;
}

.loadmore {
  display: block;
  background: var(--red);
  border: 2px solid var(--red);
  padding: 0.7em 1.4em;
  border-radius: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 3em auto 0;
  color: white;
}

@media (min-width: 700px) {
  .blog__pictures {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-areas:
      'post1 post1 post2'
      'post1 post1 post3';
    grid-gap: 20px;
  }

  .blog__picture + .blog__picture {
    margin-top: 0;
  }

  .post1 {
    grid-area: post1;
    height: auto;
  }
  .post2 {
    grid-area: post2;
  }
  .post3 {
    grid-area: post3;
  }

  .blog__post {
    display: flex;
  }

  .blog__post--image {
    margin-right: 30px;
    max-width: 300px;
  }
}

/* grid container */

#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(30px, auto);
  gap: 6px;
  grid-template-areas:
    'nav nav'
    'top-post top-post'
    'newsletter newsletter'
    'post-1 post-2'
    'post-3 post-4'
    'post-5 post-4'
    'ft ft';
}

@media (min-width: 600px) {
  #grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px auto auto auto 30px;
    gap: 6px;
    grid-template-areas:
      'nav nav nav nav'
      'top-post top-post post-1 post-1'
      'top-post top-post post-2 post-2'
      'post-3 newsletter newsletter post-4'
      'ft ft ft ft';
  }
}

/* content */

#top-post {
  grid-area: top-post;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/img6.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #fffaf0;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffaf0;
  min-height: 160px;
}

#post-1 {
  grid-area: post-1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/img1.jpg');
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#post-2 {
  grid-area: post-2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/img2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#post-3 {
  grid-area: post-3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/img3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#post-4 {
  grid-area: post-4;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/img4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#post-5 {
  grid-area: post-5;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/img5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

@media (min-width: 600px) {
  #post-5 {
    display: none;
  }
}

/* tile styling */

.text-gradient {
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 60%;
  max-width: 500px;
  padding: 10px 20px;
  margin: 20px;
  text-align: center;
  border-radius: 2px;
}

.link {
  outline: none;
  text-decoration: none;
  color: #fffaf0;
}

.link:visited {
  color: #fffaf0;
}

.link:hover {
  color: #f6aa1c;
}

.post-info {
  text-align: center;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .post h4 {
    font-size: 1.5em;
  }

  .post .post-info {
    font-size: 0.8em;
  }

  .text-gradient {
    padding: 5px 15px;
    margin: 5px;
  }
}

/* newsletter */

#newsletter {
  grid-area: newsletter;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-container {
  display: flex;
  flex-flow: row nowrap;
  padding: 5px;
}

.newsletter-element {
  width: 30%;
}

input[type='text'],
input[type='submit'] {
  text-align: center;
  width: 100%;
  padding: 12px;
  margin: 8px 5px;
  border: 1px solid #fffaf0;
  box-sizing: border-box;
}

input[type='submit'] {
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  background-color: #e54b4b;
  border: 2px solid #e54b4b;
  color: #fffaf0;
  transition: all 0.3s;
  border: none;
}

input[type='submit']:hover {
  background-color: transparent;
  border: 2px solid #e54b4b;
  color: #e54b4b;
  transform: scale(0.9);
}

@media (min-width: 600px) and (max-width: 780px) {
  .newsletter-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  .newsletter-element {
    width: 40%;
  }

  input[type='submit'] {
    font-size: 0.9em;
  }
}
