.companies-banner-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--purple);
  vertical-align: auto;
}

.companies-title-section p{
  text-align: center;
  color: var(--lightBlue);
}

.company-title{
  font-size: var(--mdHeading);
  font-weight: 500;
  margin-bottom: var(--mdMargin)
}

.company-title-description{
  font-size: var(--mdText);
}

.company-logo-section{
  display:flex;
  justify-content:center;
  align-items: center;
}

.company-logo {
  width: 100px;
  margin: 0 20px;
}