:root {
  --primar-color: #757575;
}

#container {
  margin: 2rem 6rem;
}

a {
  text-decoration: none;
  color: rgb(13, 165, 211);
}

header p {
  font-size: 1.2rem;
  width: 60%;
}

main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 6rem;
  padding: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 2%;
}
 .top{
    margin-top: 30px;
}
.cards h3{

  margin-left: 15px;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #f44336;
  width: 40%;
  
  border-radius:5%;
}
.cards p {
  margin-left: 15px;
}
.cards span {
  margin-left: 15px;
}
.cards h3:hover{
  background-color: #ccc;
}

.cards a {
  display: block;
  margin-top: 1rem;
  margin-left: 15px;
}

.cards:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

form {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 2%;
}
.form h2{
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #f44336;
  width: 40%;
  
  border-radius:2%;
}
.form h2:hover{
  background-color: #ccc;
}
form input,
select,
textarea {
  padding: 0.3rem;
}

.form-input {
  display: grid;
  grid-template-columns: 100%;
}

.form-input.multiple {
  display: grid;
  grid-template-columns: 47% 47%;
  grid-column-gap: 6%;
}

form:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#button {
  font-weight: 400;
  color: var(--red);
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 2px solid var(--red);
  padding: 0.6rem 0.75rem;
  font-size: 1rem;
  line-height: 1.2;
  border-radius: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 50px;
  margin: 0.5rem 0;
  width: 8rem;
}

#button:hover {
  background-color: var(--red);
  color: white;
  transition: 0.3s ease;
}

textarea[name='message'] {
  width: 100%;
  height: 12rem;
  resize: none;
  padding: 0.8rem 1.2rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0.5rem 0rem;
}

input[type='text'] {
  width: 100%;
  padding: 0.8rem 1.2rem;
  margin: 0.5rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='email'] {
  width: 100%;
  padding: 0.8rem 1.2rem;
  margin: 0.5rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='tel'] {
  width: 100%;
  padding: 0.8rem 1.2rem;
  margin: 0.5rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 0.8rem 1rem;
  margin: 0.5rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select:required:invalid {
  color: #666;
}
option[value=''][disabled] {
  display: none;
}
option {
  color: #000;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.form h2 {
  font-size: 32px;
  font-weight: bold;
}
