body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Arial', sans-serif;
}

p {
  color: #40514e;
  font-size: 22px;
  line-height: 1.5;
}

.container {
  margin-bottom: 50px;
}

.feature2-row {
  width: 70%;
  margin: 100px auto 150px auto;
  text-align: left;
}

.feature2-img {
  width: 50%;
  float: right;
  margin-left: 30px;
}

.feature2-a {
  color: blue;
  text-decoration: none;
  font-size: 20px;
  margin-left: 3px;
}
