footer {
  margin-bottom: 0;
}
.footer-column .sub-footer-link {
  display: inline-block;
}
footer > .footer-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  display: -ms-flexbox;
  display: -moz-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding: 0 10vw;
  margin-top: 10vh;
  justify-content: center;
}

.footer-column {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
  min-width: 300px;
  max-width: 300px;
  gap: 25px;
}

.footer-column-content {
  margin: auto 0;
}

.footer-column h2 {
  font-size: large;
  color: var(--heroText);
  opacity: 1;
  font-weight: bolder;
}

.footer-column .sub-footer-link {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.sub-footer-link a {
  font-size: medium;
  color: var(--text);
  text-decoration: none;
  cursor: pointer;
}

.sub-footer-link a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.sub-footer-link.socials a i {
  font-size: 23px;
  justify-content: center;
}

#sub-footer {
  height: auto;
  font-size: var(--smText);
  padding-bottom: var(--lgMargin);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 5vh;
}

#sub-footer p {
  font-size: 14px;
}
/* Footer Social Media Icons*/

footer ul {
  display: flex;
  gap: 15px;
}

footer ul > li {
  list-style-type: none;
}
footer ul > li > a,
footer ul > li > a:visited {
  text-decoration: none;
  color: black;
}
footer ul > li > a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
}
footer ul > li > a > img:hover {
  transition: all 0.9;
  transform: scale(1.1);
}

@media screen and (min-width: 991.99px) {
  .footer-column {
    min-width: 200px;
  }
}
