footer {
  margin-bottom: 0;
}
.footer-column .sub-footer-link {
  display: inline-block;
}
footer > .footer-row {
  display: flex;
  display: -ms-flexbox;
  display: -moz-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}

.footer-column {
  padding: 30px;
  box-sizing: border-box;
  flex: 1 0;
  min-width: 300px;
  max-width: 300px;
}

.footer-column h2 {
  font-size: large;
  margin-bottom: 23px;
  color: var(--heroText);
  margin-right: 50px;
  opacity: 1;
  font-weight: bolder;
  text-align: left;
}

.footer-column .sub-footer-link {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.sub-footer-link a {
  font-size: medium;
  color: var(--text);
  display: block;
  text-decoration: none;
  cursor: pointer;
  padding-right: 20px;
  padding-bottom: 10px;
}

.sub-footer-link a:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.sub-footer-link.socials a i {
  font-size: 23px;
  padding-right: 28px;
  justify-content: center;
}

#sub-footer {
  height: auto;
  font-size: var(--smText);
  padding-bottom: var(--lgMargin);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#sub-footer p {
  font-size: 14px;
}
/* Footer Social Media Icons*/

footer ul {
  display: flex;
  gap: 15px;
}

footer ul > li {
  list-style-type: none;
}
footer ul > li > a,
footer ul > li > a:visited {
  text-decoration: none;
  color: black;
}
footer ul > li > a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
}
footer ul > li > a > img:hover {
  transition: all 0.9;
  transform: scale(1.1);
}

@media screen and (min-width: 991.99px) {
  .footer-column {
    min-width: 200px;
  }
}
