@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/******* RESET ********/

/* allows width and height values to apply to content, padding, and border. */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  line-height: 1.5;
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

/******* STYLES *******/
:root {
  /* colors */
  --primary: #ef5b59;
  --secondary: #f4f7fe;
  --heading: #343a40;
  --text: #a5a8ac;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading);
}

body {
  color: var(--text);
}
