@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
}
main {
  max-width: 100%;
  height: 100%;
  padding: 10px 20px;
}

.hero-image {
  text-align: center;
  background-image: url(../images/for-hire.jpg);
  background-repeat: no-repeat;
  background-size: inherit;
  max-width: 100%;
  height: 450px;
  clip-path: polygon(0% 0%, 100% 1%, 100% 49%, 0 99%, 0% 100%);
  background-position: center;
  position: relative;
}

.job-posts {
  color: #838383;
}

.job-posts h1 {
  font-size: 2.5rem;
  margin-top: 10px;
}

.job-posts h2, h1 {
  display: flex;
  justify-content: center;
}

.job-posts span img {
  max-width: 50px;
  height: auto;
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  color: #000;
  width: 100%;
  margin-top: 15px;
}

th {
  background-color: rgba(255, 111, 97, 0.7);
  font-size: 1.5rem;
}




