:root {
  --color-facebook: #3b5998;
  --color-google: #ea4335;
  --color-twitter: #1da1f2;
  --style-1-color: #009688;
  --style-2-color: #009688;
  --style-3-color: #009688;
  --style-4-color: #FD6854;
}



.button-card img {
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  height: 950px;
  width: 400px;
  position: relative;
}
#loginModal1{
  display: none;
}

 #registerModal1 {
  display: block;
}

.modal-style-1 .modal-login {
  width: 100%;
  font-size: 13px;
  display: flex;
  justify-content: center;
}

.modal-header {
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.modal-style-1 .modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}
.modal-style-1 .modal-login h4 {
  color: var(--style-4-color);
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  border-bottom: 0;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 3px;
  font-weight: 900;
  width: 100%;
}
.modal-style-1 .modal-header .close {
  position: absolute;
  right: 10px;
  top: -23px;
  background-color: transparent;
}
.modal-style-1 .close:focus,
.modal-style-1 .close:active {
  outline: none !important;
  box-shadow: none;
}
.modal-style-1 .modal-login a {
  text-decoration: none;
  color: var(--style-4-color);
}

.modal-style-1 .modal-login form {
  width: 280px;
  margin: 0 auto;
}

.modal-style-1 .modal-login span.input-group-addon {
  width: 60px;
  text-align: center;
  border-radius: 7px 0 0 7px;
  border: 1px solid var(--style-4-color);
  padding: 11px;
  margin-right: 5px;
  color: #000;
  background-color: var(--style-4-color);
}
.modal-style-1 .modal-login span.input-group-addon i {
  font-size: 16px;
}

#item_checkbox{
  padding-top: 10px;
}

.modal-style-1 input.form-control {
  padding: 10px;
  border-radius: 0 7px 7px 0;
  font-size: 13px;
  border: 2px solid var(--style-1-color);
  width: 70%;
  height: auto;
}

.modal-style-1 .btn-signin {
  border-radius: 10px;
  width: 60%;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  background-color: var(--style-4-color);
  border: 1px solid var(--style-4-color);
  font-size: var(--lgText);
  height: var(--btnHeight);
  padding: 5px 8px;
}

.btn-signin{
	color: white;
}

.btn-signin:hover{
	background-color: white;
	color: #fe6655;
	border-color: currentColor;
	cursor: pointer;
}
.hint-text {
  margin-top: 1rem;
}

.modal-style-1 p.hint-text {
  text-align: center;
}

.modal-style-1 .register {
  color: var(--style-4-color);
  font-weight: 600px;
}

.modal-style-1 .social-login a {
  text-decoration: none;
  color: #fff;
  margin: 2px;
  height: 30px;
  display: inline-block;
  width: 30px;
  padding: 5px 0;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}
.modal-style-1 .btn-facebook {
  background-color: var(--color-facebook);
}

.modal-style-1 .btn-google {
  background-color: var(--color-google);
}

.modal-style-1 .btn-twitter {
  background-color: var(--color-twitter);
}

.social-login {
  display:flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.social-login a {
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
}

.social-login a i {
  margin-right: 0.6rem;
  margin-left: 0.6rem;
}

#visibility {
  transform: translate(-33px, 10px);
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  color: #757575;
}

.modal-content div {
	position: relative;
  display: block;
  width: 300px;
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.form-group {
  text-align: center;
}

.close {
  background-color: #0b0b1f;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--style-4-color);
  text-decoration: none;
  cursor: pointer;
}

.dark.modal-style-1 .modal-content {
  background: #0b0b1f;
  color: #fff;
  width: 80vw;;
}
.dark.modal-style-1 .close,
.modal-style-1.dark .modal-login h4 {
  color: #fff;
}

.dark .text-danger {
  color: #777 !important;
}
@media only screen and (max-width: 360px) {
  .modal-style-1 .modal-login {
    width: 100%;
    margin: 0px;
  }

  .modal-style-1 .modal-login form  {
    width: 100%;
  }
}

.main-container {
  width: 1140px;
  margin: 0 auto;
}

.main-container  {
  text-align: center;
  margin-top: 1.5rem;
  font-size: var(--mdHeading);
}

.main-container h1 {
  text-align:center;
}

.text-12 {
  font-size: 12px;
}

.button-card {
  margin: 0 auto;
  box-shadow: 1px 2px 5px 2px #d1d1d1;
  padding: 30px;
  background: #0b0b1f ;
  border-radius: 5px;
  max-width: 30vw;
  min-width:300px;
}
.button-card img {
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  position: relative;
}

.btn-theme {
  width: 100px;
  height: 35px;
  padding: 8px 16px;
  border-radius: 7px;
  color: white;
  text-decoration: none;
}

.btn-success {
  background-color: #28A745;
  border: 2px solid #28a745;
}

.btn-primary {
  border: 2px #28A745 solid;
  color: white;
}

.btn-primary:hover{
  background: #28A745;
}

/**#login{
  color: whitesmoke;
}

#login:hover{
  color: whitesmoke;
}**/

.action-buttons {
  /*margin-bottom: 1rem; /* mb-3 */
  margin:1rem;
  text-align: center;
  padding: 6px;
  background: #0b0b1f;
  width: 100%;
}


.col {
  width: 100%;
}

.row {
  text-align: center;
  margin-top: 1rem;
}

div > a{
cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .button-card { 
    margin: 60px auto;
    max-width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  .button-card{
    max-width: 90vw;
    max-width: 70%;
  }
  
  .button-card .action-buttons {
    width: 100%;
    height: auto;
  }
  .modal-style-1 .modal-login {
    width: 100%;
    margin: 0px;
  }
}
@media only screen and (max-width: 380px){
  .main-container{
    width: 100%;
    margin: 0 5px;
  }
  .button-card{
    max-width:100%;
    padding: 0px;
  }
  .modal-style-1 .modal-login {
    width: 100%;
    margin: 0px;
  }
  .dark.modal-style-1 .modal-content{
    width: 100%;
  }
}

@media only screen and (max-width: 240px){
  .input-group-addon{
    display: none;
  }
  .modal-style-1 input.form-control{
    border-radius: 7px;
    width: 80%;
  }
  .modal-style-1 .modal-login {
    width: 100%;
    margin: 0px;
  }
  .modal-content{
    width: 100%;
  }
  .modal-style-1 .modal-header .close{
    right:5px;
    top: -25px;
  }
}
.modal-body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}



/**.btn {
  border: 2px solid rgb(38, 204, 38);
  border-radius: 10px;
  margin:10px;
  display: inline-block;
  padding: 10px;  
  text-align: center;
  -webkit-transition: background 600ms ease, color 600ms ease;
  transition: background 600ms ease, color 600ms ease;
}**/

input[type="radio"].toggle {
  display: none;
}
input[type="radio"].toggle + label {
  cursor: pointer;
  min-width: 60px;
  color: var(--color-google);
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 3px;
}
input[type="radio"].toggle + label:hover {
  background: none;
  color:var(--color-google);  
}
input[type="radio"].toggle + label:after {
  background: #1a1a1a;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
  z-index: -1;
}
/**input[type="radio"].toggle.toggle-left + label {
  border-right: 2px;
}
input[type="radio"].toggle.toggle-left + label:after {
  left: 100%;
}

input[type="radio"].toggle.toggle-right + label:after {
  left: -100%;
}**/
input[type="radio"].toggle:checked + label {
  background: var(--color-google);
  cursor: default;
  color: whitesmoke;
  -webkit-transition: color 200ms;
  transition: color 200ms;
  
}
input[type="radio"].toggle:checked + label:after {
  left: 0;
}