/* Start navbar styles */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container-nav {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.navbar {
  display: flex;
  padding: 0 10px;
  height: 80px;
  align-items: center;
}

.navbar .logo {
  width: 60px;
}

.navbar ul {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  list-style: none;
  background-color: #fff;
}

.navbar ul.menu li {
  cursor: pointer;
  line-height: 80px;
  font-size: 1em;
  color: #423f3f;
}

.navbar ul.menu li:hover {
  color: #000000;
}

.navbar ul.menu li + li {
  margin-left: 20px;
}

.navbar ul.menu li.active {
  color: #000000;
}

.navbar button {
  background: #fff;
  color: #2c86fc;
  font-size: 1em;
  border: 2px solid#2c86fc;
  padding: 5px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.nav-button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav-button span {
  width: 100%;
  background-color: black;
  height: 3px;
}

@media only screen and (max-width: 500px) {
  .navbar {
    justify-content: space-between;
    padding: 0 50px;
  }

  .navbar button {
    display: none;
  }

  .navbar ul {
    display: block;
    text-align: center;
    top: 80px;
    left: 0;
    position: absolute;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
  }

  .navbar ul.open {
    height: 400px;
  }

  .navbar ul.menu li + li {
    margin-left: 0px;
  }
}

@media only screen and (min-width: 500px) {
  .nav-button {
    display: none;
    visibility: hidden;
  }
}

/* End Navbar styles */

/* body {
  background-color: rgb(19, 19, 19);
        background-color: #323133;
        background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64'
        xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8
        8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636
        32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582
        8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414
        40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95
        1.414-1.414L9.414 40z' fill='%239156f0' fill-opacity='0.09' fill-rule='evenodd'/%3E%3C/svg%3E");
} */

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container img {
  height: 300px;
}

.container p {
  color: aliceblue;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.hero {
  display: flex;
  justify-content: center;
  padding: 2em;
  align-items: center;
  margin-bottom: 2rem;
}

.hero_content {
  color: #1d1c1c;
  text-align: left;
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 33rem;
}

.hero_content > h2 {
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.5);
}

.hero_content > p {
  color: rgb(90, 90, 90);
  font-size: 1.5em;
  word-spacing: 0.3em;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.CTA {
  background-color: #f94626;
  padding: 1em;
  color: white;
  border-radius: 4px;
  word-spacing: 0.2rem;
  outline: none;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.2rem;
  transition: all 200ms ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.CTA:hover {
  background-color: white;
  color: #f94626;
  border-radius: 10px;
  border: #f94626 solid 2px;
}

.CTA:active {
  transform: translateY(4px);
}

@media only screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 2rem;
    overflow-x: hidden;
  }

  .hero_content {
    padding: 5px;
    max-width: 25rem;
    margin-left: 0;
  }

  .hero_content > h2 {
    font-weight: 700;
    font-size: 2.2rem;
    text-transform: uppercase;
  }

  .hero_content > p {
    color: rgb(90, 90, 90);
    font-size: 1.1em;
    line-height: 1.3;
    font-weight: 500;
  }

  .hero_image {
    height: 300px;
    object-fit: contain;
    width: 330px;
  }
}
