.neverMissUpdate {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: var(--lightBlue);
}
.neverMissUpdateContainer h1 {
  font-size: 40px;
}
.neverMissUpdateContainer {
  height: 500px;
  width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.neverMissUpdateContainer i {
  font-size: 65px;
  color: #2c86fc;
}

.neverMissUpdateContainer h2 {
  font-size: 18px;
}
.neverMissUpdateContainer h3 {
  color: whitesmoke;
}

.neverMissUpdateContainer h1,
h2,
form,
h5 {
  text-align: center;
  margin-top: 20px;
  color: var(--text);
}

.update-heading {
  font-weight: 600;
}

#neverMissUpdateemail {
  font-style: italic;
  font-weight: 900;
  color: var(--text);
  font-size: 15px;
  width: 550px;
}

.input-group-append {
  display: flex;
}
#button-addon2 {
  display: inline-block;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fe6655;
  border: 1px solid transparent;
  padding: 0.6rem 0.75rem;
  font-size: 1rem;
  line-height: 1.2;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    height: 57px;
    margin: 8px 10px;
    width: 150px;
}

#button-addon2:hover {
  background-color: white;
  color: var(--red);
  border-color: currentColor;
}
  
#button-addon2:active {
  box-shadow: var(--smShadow);
  transform: translateY(.3rem);
}

h2 {
  color: var(--text);
  /* opacity: 0.5; */
}

.update-heading {
  opacity: 0.9;
}

.form-control {
  display: inline-block;
  width: 22rem;
  padding: 0.375rem 0.75rem;
  font-size: 1em;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
