* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
.neverMissUpdate {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}
.neverMissUpdateContainer h1 {
  font-size: 40px;
}
.neverMissUpdateContainer {
  height: 500px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.neverMissUpdateContainer i {
  font-size: 65px;
  color: #6f66ff;
}

.neverMissUpdateContainer h2 {
  font-size: 18px;
}
.neverMissUpdateContainer h3 {
  color: whitesmoke;
}
.neverMissUpdateContainer h5 {
  color: rgb(145, 145, 145);
}
.neverMissUpdateContainer h1,
h2,
form,
h5 {
  text-align: center;
  margin-top: 20px;
}
