* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
.neverMissUpdate {
	width: 100vw;
	height: auto;
	display: flex;
	justify-content: center;
	background-color: #F4F7FE;
}

.neverMissUpdateContainer {
	height: 500px; 
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.neverMissUpdateContainer i {
	font-size: 35px;
}

.neverMissUpdateContainer h1, h2, form, h5{
	text-align: center;
	margin-top: 20px;
}
