*{  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  background-color: rgb(19, 19, 19);
  background-color: #323133;

  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%239156f0' fill-opacity='0.09' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.container {
  height: 100vh;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width:1200px;
  margin:0 auto;
  background: white;
}
.container header{
  border: 1px solid black;
  width:100%;
  padding:25px;
}

.container .meet-the-team{
  margin: 50px auto;
  border: 1px solid black;
  padding:75px;
}



.container .meet-the-team h3{
  font-size:2.5rem;
  font-weight:600;
  margin-bottom:75px;
  color:#333;
}

.container .meet-the-team  h5{
  font-size: 1.5rem;
  margin: 10px;
  color:#333;
}

.container .meet-the-team  p{
  font-size: 1rem;
  color:black;
  font-weight:300;
}

.container .meet-the-team .team-row{
  display:flex;
  flex-direction:row;
  margin: 25px auto;
}

.container .meet-the-team .team-row .team-member{
  max-width:250px;
  margin: 0 20px;
}

.container .meet-the-team .team-row img{
  width: 150px;
  border-radius:100%;
}

.container footer{
  margin-top: auto;
  border: 1px solid black;
  width:100%;
  padding:25px;
}

.container p {
  color: aliceblue;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.coming-soon{
  display:none;
}
.coming-soon img{
  height:300px;
}
