.testimonial-section h1 {
    font-size: 3rem;
    text-align: center;
    color: rgb(90, 90, 90);
    font-weight: 600;
}

.testimonial-section p {
    margin: 10px auto 0;
    padding: 0 17%;
    text-align: center;
}

#testimonial-carousel {
    width: 80%;
    margin: 25px auto;
}

#testimonial-carousel .carousel-item {
    display: inline-block;
    width: 30%;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
    padding: 30px 20px;
}

#testimonial-carousel .carousel-item img {
    border-radius: 5px;
}

.testimonial-image {
    width: 20%;
    border-radius: 5%;
    margin: 10px auto 10px auto;
    display: inline-block;
}

#testimonial-carousel .carousel-item em {
    width: 70%;
    display: inline-block;
    text-align: left;
}

#testimonial-carousel .carousel-item h3 {
    margin-top: 10px;
    text-align: left;

}

.testimonial-text span {
    font-weight: bold;
    color: black;
}