:root {
  --color-facebook: #3b5998;
  --color-google: #ea4335;
  --color-twitter: #1da1f2;
  --style-1-color: #009688;
  --style-2-color: #009688;
  --style-3-color: #009688;
  --style-4-color: #FD6854;
}

.button-card img {
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  height: 950px;
  width: 400px;
  position: relative;
}

#loginModal1, #registerModal1 {
  display: none;
}

.modal-style-1 .modal-login {
  width: 100%;
  font-size: 13px;
  display: flex;
  justify-content: center;
}

.modal-header {
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.modal-style-1 .modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}
.modal-style-1 .modal-login h4 {
  color: var(--style-4-color);
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  border-bottom: 0;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 3px;
  font-weight: 900;
  width: 100%;
}
.modal-style-1 .modal-header .close {
  position: absolute;
  right: 20px;
}
.modal-style-1 .close:focus,
.modal-style-1 .close:active {
  outline: none !important;
  box-shadow: none;
}
.modal-style-1 .modal-login a {
  text-decoration: none;
  color: var(--style-4-color);
}

.modal-style-1 .modal-login form {
  width: 280px;
  margin: 0 auto;
}

.modal-style-1 .modal-login span.input-group-addon {
  width: 60px;
  text-align: center;
  border-radius: 25px 0 0 25px;
  border: 1px solid var(--style-4-color);
  padding: 8px;
  margin-right: 5px;
  color: #fff;
  background-color: var(--style-4-color);
}
.modal-style-1 .modal-login span.input-group-addon i {
  font-size: 16px;
}

.modal-style-1 input.form-control {
  border-radius: 0 25px 25px 0;
  font-size: 13px;
  border: 1px solid var(--style-1-color);
}
.modal-style-1 .btn-signin {
  border-radius: 25px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: var(--style-4-color);
  border: 1px solid var(--style-4-color);
}

.hint-text {
  margin-top: 1rem;
}

.modal-style-1 p.hint-text {
  text-align: center;
}

.modal-style-1 .register {
  color: var(--style-4-color);
  font-weight: 600px;
}

.modal-style-1 .social-login a {
  text-decoration: none;
  color: #fff;
  margin: 2px;
  height: 30px;
  display: inline-block;
  width: 30px;
  padding: 5px 0;
  text-align: center;
  cursor: pointer;
}
.modal-style-1 .btn-facebook {
  background-color: var(--color-facebook);
}

.modal-style-1 .btn-google {
  background-color: var(--color-google);
}

.modal-style-1 .btn-twitter {
  background-color: var(--color-twitter);
}

.social-login {
  text-align: center;
}

.social-login a {
  text-align: center;
  text-transform: uppercase;
}

.social-login a i {
  margin-right: 0.6rem;
  margin-left: 0.6rem;
}

.modal-content div {
  text-align: center;
  margin-bottom: 1rem;
}

.form-group {
  text-align: center;
}

.close {
  background-color: #0b0b1f;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--style-4-color);
  text-decoration: none;
  cursor: pointer;
}

.dark.modal-style-1 .modal-content {
  background: #0b0b1f;
  color: #fff;
}
.dark.modal-style-1 .close,
.modal-style-1.dark .modal-login h4 {
  color: #fff;
}

.dark .text-danger {
  color: #777 !important;
}
@media only screen and (max-width: 360px) {
  .modal-style-1 .modal-login {
    width: 100%;
    margin: 5px;
  }

  .modal-style-1 .modal-login form  {
    width: 100%;
  }
}

.main-container {
  width: 1140px;
  margin: 0 auto;
}

.main-container h3 {
  text-align: center;
  margin-top: 1.5rem;
}

.text-12 {
  font-size: 12px;
}

.button-card {
  margin: 0 auto;
  box-shadow: 1px 2px 5px 2px #d1d1d1;
  padding: 20px;
  border-radius: 5px;
}
.button-card img {
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  position: relative;
}

.btn-theme {
  width: 100px;
  height: 35px;
  padding: 3px;
  border-radius: 26px;
  color: white;
}

.btn-success {
  background-color: #28A745;
}

.btn-primary {
  background-color: #007BFF;
}

.action-buttons {
  margin-bottom: 1rem; /* mb-3 */
  margin-top: 0.6rem; /* mb-2 */
}

.col {
  width: 100%;
}

.row {
  text-align: center;
  margin-top: 1rem;
}

@media only screen and (max-width: 1140px) {
  .main-container {
    width: 100%;
    margin: 0 15px;
  }
}

@media only screen and (max-width: 480px) {
  .button-card img {
    width: 100%;
    height: auto;
  }
}
